@tailwind base;
@tailwind components;
@tailwind utilities;

/* mobil */
body {
  background-color: #080505;
  /* background-image: url(/test-bg.jpg); */
  /* background-size: cover; */
  color: white;
}

@keyframes scroll-reveal {
  to {
    background-size: 100% 100%;
  }
}

